.home {
  .title {
    background: url("../img/testImg.png") no-repeat 10% 60%;
    padding-top: 50px;
    position: relative;
    background-color: #88cba0;
    .intro-title {
      font-family: "Dosis";
      font-weight: 800;
      color: #3c6149;
      font-size: 3rem;
    }
    .intro-desc {
      font-family: "Dosis";
      font-weight: 800;
      color: #3c6149;
    }

    .intro-bubble {
      position: relative;
      margin: 0 0% 0 30%;
      padding: 20px;
      border-radius: 25px;
      width: 600px;
      background-color: #f9f7ad;
    }

    .intro-bubble:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 50%;
      width: 0;
      height: 0;
      border: 35px solid transparent;
      border-top-color: #f9f7ad;
      border-bottom: 0;
      border-left: 0;
      margin-left: -17.5px;
      margin-bottom: -35px;
    }

    .wave {
      margin-bottom: -30px;
      z-index: 0;
    }
  }
}

.hey {
  color: red;
  font-size: 25px;
}
