.modal-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400;
  max-width: 800px;
  transform: translate(-50%, -50%);
  p {
    margin-top: 20px;
    background-color: antiquewhite;

    color: black;
  }
}
